<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FrogsTalks" version="0.2.0" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
</packages>